@page
@model CiudadanosSanos.Pages.Consultas.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consulta.Documento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consulta.Documento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consulta.Nombres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consulta.Nombres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consulta.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consulta.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consulta.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consulta.Descripcion)
        </dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="Consulta.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Back to list</a>
    </form>
</div>